<script src="/socket.io/socket.io.js"></script>


{{#if isLogged}}
<form id="messageForm" action="#" class="userData">

  <h2>Bienvenido al chat {{name}}!!!</h2>
  <section class="chatBox" id="chatBox">
  </section>
  <div class="messageBoxCombo">
    <input type="text" name="messageBox" id="messageBox" class="msgBoxClass" placeholder="Write your message" />
    <button class="sendMessageButton">send</button>
  </div>
</form>
<script src="chat.js"></script>
{{else}}
<h2>Por Favor haz Ingresa para usar la plataforma</h2>
{{/if}}