<form action="/login" method="post" class="userData">
  <h2>User Login</h2>
  <input type="text" name="user" placeholder="User Name" id="user" />
  <input type="password" name="password" placeholder="Password" />
  <button class="buttonSub">Login</button>
  <a href="/register">Sign Up</a>
</form>