<form action="">
    <h2>User Login</h2>
    <input type="text" name="user" id="user">
    <input type="password" name="password">
    <button>Login</button>
    <a href="/register">Sign Up</a>
</form>