<form id="userForm" action="/register" method="post" class="userData">
  <h2>Datos del usuario</h2>
  <input type="text" name="user" id="user" placeholder="e-Mail" />
  <input type="password" name="password" id="password" placeholder="Password" />
  <input type="text" name="nombre" id="lastName" placeholder="Nombre" />
  <input type="text" name="apellido" id="lastName" placeholder="Apellido" />
  <input type="text" name="edad" id="age" placeholder="Edad" />
  <input type="text" name="alias" id="nickName" placeholder="Alias" />
  <input type="text" name="avatar" id="avatar" placeholder="Avatar URL" />
  <button id="userSave" class="buttonSub">Guardar usuario</button>
</form>