* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0.5rem 2rem;
  padding: 0.5rem 2rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: beige;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
article {
  max-width: 250px;
  border: 3px solid black;
  box-shadow: 3px 3px 15px black;
  margin: 1rem;
  padding: 1rem;
}
h3 {
  padding: 1rem;
}
img {
  max-width: 200px;
  align-self: flex-end;
}
.buttonSub {
  border-radius: 15%;
  background-color: azure;
  border: 3px solid #333;
  box-shadow: 3px 3px 15px #666;
  padding: 0.5rem;
  margin: 1rem;
}
.buttonSub:hover {
  background-color: #f0ffdd;
}
.buttonSub:active {
  box-shadow: 5px 5px 25px #666;
}
.userData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.userData > input {
  width: clamp(300px, 400px, 450px);
  border-radius: 10%;
  padding: 1rem;
  margin: 1rem;
}
.invisible {
  display: none;
}
.chatBox {
  display: flex;
  width: clamp(600px, 900px, 1200px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  min-height: 300px;
  border: 4px dashed #333;
  padding: 1.5rem;
}
.msgBoxClass {
  border-radius: 10%;
  padding: 1rem;
  margin: 1rem;
  flex: 0.9;
}
.messageBoxCombo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: clamp(600px, 900px, 1200px);
}
.sendMessageButton {
  margin: 1rem;
  width: 50px;
  border-radius: 15px;
}
.msgContainer {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  align-items: center;
  margin: 0.2rem 0;
}
.derecha {
  align-self: flex-end;
}
.msgContainer > span {
  margin: 0.25rem;
}
.imgTag {
  width: 32px;
  border: 2px solid #333;
  border-radius: 60%;
}
.loginStatus {
  background-color: #f5f5ca;
  box-shadow: 3px 3px 15px #f5f5cc;
}
.menuContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding: 0 1rem;
  margin: 0px 1rem;
}
.menuContainer > span {
  display: flex;
  justify-content: center;
}
.menuContainer > span > a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
  margin: 0 1rem;
  padding: 1rem;
}
.logout{display: none;}
.visible{display: flex !important;}
